<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>Planowane wyłączenia w Bydgoszczy <span class="pull-right" ng-show="vm.isBusy"><i class="fa fa-circle-o-notch fa-spin"></i></span></h1>

        <div class="alert alert-danger" ng-show="vm.errorMessage">
            <i class="fa fa-warning"></i> {{ vm.errorMessage }}
        </div>



        <h2>Dzisiaj</h2>
        <div ng-show="vm.isBusy" class="panel panel-danger">
            <div class="panel-heading">
                <i class="fa fa-circle-o-notch fa-spin"></i> Ładowanie...
            </div>
        </div>
        <uib-accordion>
            <div ng-repeat="disconnection in vm.disconnections.today" uib-accordion-group class="panel panel-danger animated fadeInUp" is-open="status.open">
                <uib-accordion-heading>
                    {{ disconnection.area }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-left': !status.open}"></i>
                </uib-accordion-heading>
                <div>
                    <p class="list-group-item">
                        {{ disconnection.date | date:'dd-MM-yyyy' }}
                        {{ disconnection.time }}
                    </p>
                    <p class="list-group-item">
                        {{ disconnection.details }}
                    </p>
                </div>
            </div>
        </uib-accordion>
        <div ng-show="!vm.disconnections.today.length && !vm.isBusy" class="alert alert-success">Brak wyłączeń dzisiaj</div>





        <h2>Jutro</h2>
        <div ng-show="vm.isBusy" class="panel panel-danger">
            <div class="panel-heading">
                <i class="fa fa-circle-o-notch fa-spin"></i> Ładowanie...
            </div>
        </div>
        <uib-accordion>
            <div ng-repeat="disconnection in vm.disconnections.tommorow" uib-accordion-group class="panel-danger animated fadeInUp" is-open="status.open">
                <uib-accordion-heading>
                    {{ disconnection.area }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-left': !status.open}"></i>
                </uib-accordion-heading>
                <div>
                    <p class="list-group-item">
                        {{ disconnection.date | date:'dd-MM-yyyy' }}
                        {{ disconnection.time }}
                    </p>
                    <p class="list-group-item">
                        {{ disconnection.details }}
                    </p>
                </div>
            </div>
        </uib-accordion>
        <div ng-show="!vm.disconnections.tommorow.length && !vm.isBusy" class="alert alert-success">Brak wyłączeń w dniu jutrzejszym</div>





        <h2>W inne dni</h2>
        <div ng-show="vm.isBusy" class="panel panel-danger">
            <div class="panel-heading">
                <i class="fa fa-circle-o-notch fa-spin"></i> Ładowanie...
            </div>
        </div>
        <uib-accordion>
            <div ng-repeat="disconnection in vm.disconnections.others" uib-accordion-group class="panel-danger animated fadeInUp" is-open="status.open">
                <uib-accordion-heading>
                    {{ disconnection.area }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-left': !status.open}"></i>
                </uib-accordion-heading>
                <div>
                    <p class="list-group-item">
                        {{ disconnection.date | date:'dd-MM-yyyy' }}
                        {{ disconnection.time }}
                    </p>
                    <p class="list-group-item">
                        {{ disconnection.details }}
                    </p>
                </div>
            </div>
        </uib-accordion>
        <div ng-show="!vm.disconnections.others.length && !vm.isBusy" class="alert alert-success">Brak wyłączeń w innych dniach</div>


    </div>
</div>