<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>Słowa klucze <span class="pull-right" ng-show="vm.isBusy"><i class="fa fa-circle-o-notch fa-spin"></i></span></h1>

        <div ng-show="vm.errorMessage" class="alert alert-danger">
            <i class="fa fa-warning"></i> {{ vm.errorMessage }}
        </div>

        <div ng-show="vm.successMessage" class="alert alert-success">
            <i class="fa fa-check fa-lg"></i> {{ vm.successMessage }}
        </div>

        <table class="table table-striped">
            <thead>
                <th>Słowo</th>
                <th>Aktywne</th>
                <th>Usuń</th>
            </thead>
            <tbody>
                <tr ng-repeat="keyWord in vm.keyWords">
                    <td>{{keyWord.word}}</td>
                    <td>
                        <input type="checkbox"
                               data-on-color="success"
                               data-off-color="danger"
                               data-on-text="TAK"
                               data-off-text="NIE" 
                               ng-model="keyWord.isOnline"
                               ng-change="vm.keyWordChanged(keyWord)" bootstrap-switch />
                    </td>
                    <td><button ng-click="vm.openModal(keyWord)" class="btn btn-danger btn-sm">Usuń</button></td>
                </tr>
            </tbody>
        </table>


        <form novalidate name="newKey" ng-submit="vm.addKeyWord()">
            <div class="form-group">
                <input id="key" name="key" ng-model="vm.newKeyWord.word"
                       class="form-control" placeholder="Wpisz nowe słowo..."
                       required ng-minlength="3" ng-maxlength="50" />
                <span ng-show="newKey.key.$error.required" class="text-danger">
                    <i class="fa fa-warning"></i> Pole jest wymagane
                </span>
                <span ng-show="newKey.key.$error.minlength" class="text-danger">
                    <i class="fa fa-warning"></i> Słowo musi mieć co najmniej 3 znaki długości
                </span>
                <span ng-show="newKey.key.$error.maxlength" class="text-danger">
                    <i class="fa fa-warning"></i> Słowo może mieć maksymalnie 50 znaków długości
                </span>
            </div>
            <div class="form-group">
                <input ng-disabled="newKey.$invalid" type="submit" class="btn btn-success" value="Dodaj" />
            </div>
        </form>

    </div>
</div>